:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}


body {
    
}


#app {

    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

@media (prefers-color-scheme: light) {

}
